.header {
    @media screen and (max-width: 500px) {
        padding: 0;
    }

    @media screen and (min-width: 501px) and (max-width: 750px) {
        padding: 1rem 0;
    }

    @media screen and (min-width: 751px) {
        padding: 3rem 0;
    }
}

.title {
    text-decoration: none;
    color: var(--textNormal);
    background: linear-gradient(
        to right,
        #e48a28 0%,
        #cc4856 50%,
        #6e3a6c 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen and (max-width: 500px) {
        font-size: 2rem;
    }

    @media screen and (min-width: 501px) and (max-width: 750px) {
        font-size: 3rem;
    }

    @media screen and (min-width: 751px) {
        font-size: 4.5rem;
    }
}

.title-after {
    color: var(--lighterText);
    margin-left: 0.5rem;

    @media screen and (max-width: 500px) {
        font-size: 2rem;
    }

    @media screen and (min-width: 501px) and (max-width: 750px) {
        font-size: 3rem;
    }

    @media screen and (min-width: 751px) {
        font-size: 4.5rem;
    }
}

.menu {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    display: none;
    @media screen and (min-width: 501px) {
        display: none;
    }
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    flex-wrap: wrap;
    @media screen and (max-width: 500px) {
        // display: none;
    }
}

.nav-item {
    color: #999999;
    font-size: 0.9rem;
    margin-right: 1.3rem;
    color: var(--lightText);
    text-decoration: none;
    font-weight: bold;
}

.nav-item:hover {
    color: var(--textNormal);
}

.active-nav-item {
    color: var(--textNormal);
}

.darkMode {
    color: var(--lightText);
    cursor: pointer;
}

.lightMode {
    color: #fce683;
    cursor: pointer;
}

.invisible {
    opacity: 0;
    position: absolute;
}

.darkModeInput {
    opacity: 0;
    position: absolute;
}

// Night Sky
// Code from https://codepen.io/amiangie/pen/RRdQAb
@function box-shadow($stars) {
    $bxshadow: ();
    @for $i from 1 to $stars {
        $bxshadow: append(
            $bxshadow,
            (random(2000) + 0px) (random(2000) + 0px) #fff,
            comma
        );
    }
    @return unquote($bxshadow);
}

$bxshadow-large: box-shadow(300);
$bxshadow-medium: box-shadow(500);
$bxshadow-small: box-shadow(800);

.starArea {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 33vh;
    z-index: -1;
    overflow: hidden;
    -webkit-mask-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.5)),
        to(rgba(0, 0, 0, 0))
    );

    // Remove night sky on mobile (looks weird!)
    @media screen and (max-width: 750px) {
        display: none;
    }
}

.smallStars {
    height: 2px;
    width: 2px;
    background: transparent;
    box-shadow: $bxshadow-medium;
    animation: blink-medium 5s infinite;
}

.mediumStars {
    height: 2px;
    width: 2px;
    background: transparent;
    box-shadow: $bxshadow-medium;
    animation: blink-medium 5s infinite;
}

.largeStars {
    height: 3px;
    width: 3px;
    background: transparent;
    box-shadow: $bxshadow-large;
    animation: blink-large 7s infinite;
}

@keyframes blink-large {
    0% {
        box-shadow: $bxshadow-large;
    }
    70% {
        $colors: "#fff", "transparent";
        $stars: $bxshadow-large;
        @for $i from 1 to length($stars) {
            $star: set-nth(
                nth($stars, $i),
                3,
                unquote(nth($colors, random(length($colors))))
            );
            $stars: set-nth($stars, $i, $star);
        }
        box-shadow: $stars;
    }
    100% {
        box-shadow: $bxshadow-large;
    }
}
@keyframes blink-medium {
    0% {
        box-shadow: $bxshadow-medium;
    }
    70% {
        $colors: "#fff", "transparent";
        $stars: $bxshadow-medium;
        @for $i from 1 to length($stars) {
            $star: set-nth(
                nth($stars, $i),
                3,
                unquote(nth($colors, random(length($colors))))
            );
            $stars: set-nth($stars, $i, $star);
        }
        box-shadow: $stars;
    }
    100% {
        box-shadow: $bxshadow-medium;
    }
}
@keyframes blink-small {
    0% {
        box-shadow: $bxshadow-small;
    }
    70% {
        $colors: "#fff", "transparent";
        $stars: $bxshadow-small;
        @for $i from 1 to length($stars) {
            $star: set-nth(
                nth($stars, $i),
                3,
                unquote(nth($colors, random(length($colors))))
            );
            $stars: set-nth($stars, $i, $star);
        }
        box-shadow: $stars;
    }
    100% {
        box-shadow: $bxshadow-small;
    }
}
